@import '../../styles/mixins.scss';

.nsg-panel {
    background-color: #F2F2F2;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.horizontal-panel {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-panel {
    height: calc(100vh - 100px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.imgContainer {
    overflow: hidden;
    position: relative;
}

.imgContainer img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.detail-container {
    background: white;
    height: calc(100vh - 100px);
    @include flex();
}

.edit-detail-container {
    width: 100%;
    height: 60%;
    background-color: #262726;
}

button {
    background: none;
    border: none;
}

.medium-btn {
    span {
        font-size: 3rem;
    }
}

.small-btn {
    color: #BBB;
    span {
        font-size: 2.3rem;
    }
}

.corner-btn {
    float: right;
    padding-right: 1rem;
}

.medium-btn:active {
    span {
        color: #908D88;
    }
}

.row-item {
    display: inline-block;
    flex-grow: 1;
}

.color-list {
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.list-item {
    width: 100%;
    height: 10rem;
    max-height: 15rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editColorHeader {
    background-color: #00925E;
    width: 100%;
    height: 40%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.colorSelected {
    background-color: #00A43D;
    align-self: center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin: 2rem;
}

.section-container {
    padding: 0 1.5rem 0 1.5rem;
    flex: 1 0 0;
}

.section {
    width: 100%;
    padding: 2.5rem 0 2.5rem 0;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    color: #908D88;
}

.section-divider {
    width: 100%;
    height: 2px;
    background: #EDECEA;
}

.sectionTitle {
    width: 100%;
}

.sectionItem {
    padding-right: 1rem;
    font-size: 2.1rem;
}

.colorValue {
    color: #555;
}

.color-header {
    width: 100%;
    height: 15rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.colorCenterTitle {
    text-align: center;
    color: whitesmoke;
    width: 100%;
    font-size: 2.1rem;
}

::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/*Needs to be put under custom styling otherwise it will modify all nav tabs*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background: none;
    border: none;
}

.nav-tabs > li > a:hover {
    border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
}

.nav-tabs {
    border: none;
    justify-content: center;
    display: flex;
}

.nav-tabs > li > a {
    line-height: 2.5;
    font-size: 1.6rem;
    color: #96928D;
}

.tab-content .colorValue {
    color: #ffffff;
    font-size: 2rem;
}

/* modification to tab*/
.tab-pane .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3rem;
}

/* Customize slider bar*/

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background: grey;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

// /* Grid panel for images from dribble*/
// .grid-panel {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
// }

// .grid-content {
//     width: 30rem;
//     height: 30rem;
// }

// div.rig {
//     list-style: none;
//     font-size: 0px;
//     margin-left: -2.5%; /* should match li left margin */
// }

// div.rig div {
//     display: inline-block;
//     padding: 10px;
//     margin: 0 0 2.5% 2.5%;
//     background: #fff;
//     border: 1px solid #ddd;
//     font-size: 1rem;
//     vertical-align: top;
//     box-shadow: 0 0 5px #ddd;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
// }

// div.rig div img {
//     max-width: 100%;
//     height: auto;
//     margin: 0 0 10px;
// }

// div.rig div h3 {
//     margin: 0 0 5px;
// }

// div.rig div p {
//     font-size: .9em;
//     line-height: 1.5em;
//     color: #999;
// }
// /* class for 2 columns */
// div.rig.columns-2 div {
//     width: 47.5%; /* this value + 2.5 should = 50% */
// }
// /* class for 3 columns */
// div.rig.columns-3 div {
//     width: 30.83%; /* this value + 2.5 should = 33% */
// }
// /* class for 4 columns */
// div.rig.columns-4 div {
//     width: 22.5%; /* this value + 2.5 should = 25% */
// }

// @media (max-width: 480px) {
//     div.grid-nav div {
//         display: block;
//         margin: 0 0 5px;
//     }

//     div.grid-nav div a {
//         display: block;
//     }

//     div.rig {
//         margin-left: 0;
//     }

//     div.rig div {
//         width: 100% !important; /* over-ride all li styles */
//         margin: 0 0 20px;
//     }
// }

/*Customizing caruosal*/
.carousel-control.right, .carousel-control.left {
    background: none;
}

.carousel-indicators {
    display: none;
}